@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

.navbar{
    background-color: #E10600;
    color: #fff;
}

.nav-font{
    color: #fff;
    font-family: 'Audiowide', cursive;
}

.title-font{
    font-family: 'Audiowide', cursive;
    color: #E10600;
}

.text-font{
    font-family: 'Titillium Web', sans-serif;
    color: #000;
}

.video-principal{
    object-fit: cover;
}

.bg-subtitle{
    background-image: url("../img/bg-formula1.jpeg");
}

.img-grid{
    width: 90%;
    height: 90%;
}