@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

.navbar{
    background-color: #E10600;
    color: #fff;
}

.nav-font{
    color: #fff;
    font-family: 'Audiowide', cursive;
}

.title-font{
    font-family: 'Audiowide', cursive;
    color: #E10600;
}

.font-destaque{
    font-family: 'Audiowide', cursive;
}

.text-font{
    font-family: 'Titillium Web', sans-serif;
    color: #000;
}

.font-text{
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
}

.video-principal{
    object-fit: cover;
}

.bg-subtitle{
    background-image: url("../assets/img/bg-formula1.jpeg");
    background-size: cover ;
}

.img-grid{
    width: 90%;
    height: 90%;
}

.img-info{
    width: 90%;
    height: 90%;
}

.destaque{
    background-image: url(/src/assets/img/bg-foco.png);
}

.box-app{
    background-color: #38383f;

}

/* .img-grafico{
    width: 70%;
    height: 60%;
} */
